name: Builds Macrobenchmarks

on:
  pull_request:
    types: [opened, synchronize, reopened, 'labeled']
  push:
    branches: [ macrobenchmark, main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
    
      - name: Setup JDK
        id: setup-java
        uses: actions/setup-java@v1
        with:
          java-version: "11"
            
      - name: Build Macrobenchmark Sample
        uses: eskatos/gradle-command-action@v1
        env:
          JAVA_HOME: ${{ steps.setup-java.outputs.path }}
        with:
          arguments: build
          build-root-directory: ${{ github.workspace }}/MacrobenchmarkSample
          gradle-executable: ${{ github.workspace }}/MacrobenchmarkSample/gradlew
          wrapper-directory: ${{ github.workspace }}/MacrobenchmarkSample/gradle/wrapper
